:root {
  --main-font-family: 'roboto', sans-serif;
  --main-font-color: #757575;
  --main-font-size: 14px;
  --main-font-weight: 400;
  --secondary-font-family: 'raleway', sans-serif;
  --secondary-font-color: #212121;
  --secondary-font-weight: 700;
  --accent-color: #2196f3;
  --accent-secondary-color: #188ce8;
  --general-dark-font-color: #000000;
  --general-light-font-color: #ffffff;
  --secondary-light-font-color: #ffffff99;
  --modal-button-color: #f5f4fa;
  --icon-social-link-color: #afb1b8;
  --background-dark-color: #2f303a;
  --background-secondary-color: #c4c4c4;
  --border-color: #ececec;
  --border-color-secobdary: #eeeeee;
}
