.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feature {
  &__icon-place {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    background-color: var(--modal-button-color);
    border-radius: 4px;
  }
  &__title {
    margin-bottom: 10px;
    @include font(
      var(--main-font-family),
      var(--secondary-font-weight),
      var(--main-font-size),
      1.14,
      0.03em,
      var(--secondary-font-color)
    );
    text-align: center;
    text-transform: uppercase;
  }
  &__contents {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .features-set {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .feature {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-set {
    flex-wrap: nowrap;
  }
  .feature {
    flex-basis: calc((100%-120px) / 4);
  }
}
