.btn-menu-open {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  border: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  &__icon {
    fill: var(--general-dark-font-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover > &__icon,
  &:focus > &__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .btn-menu-open {
    display: none;
  }
}
